<footer class="container-fluid">
    <div class="row">
        <div class="col-md">
            <h1>LOGO</h1>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-2 fmenu">MENU</div>
                <div class="col-md-10">
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Plans</a></li>
                        <li><a href="#">Faq</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2 fcontato">CONTATOS</div>
                <div class="col-md-10">
                    <ul>
                        <li><a href="tel:002380000000"> (+238) 000 00 00</a></li>
                        <li><a href="mailto:contact@wifianywhere.com">contact@wifianywhere.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="row">
                <div class="col-md"><a href="#">I</a></div>
                <div class="col-md"><a href="#">F</a></div>
                <div class="col-md"><a href="#">T</a></div>
            </div>
            <div class="row">
                <div class="col-md">
                    <a class="creditos" href="http://innovatmedia.com" target="_blank">&copy; iMedia Innovative Media 2019</a>
                </div>
            </div>
        </div>
    </div>
</footer>