<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-md logofooter">
            <h1>LOGO</h1>
        </div>
        <div class="col-md-3 menufooter">
            <div class="row">
                <div class="col-md-2 fmenu">MENU</div>
                <div class="col-md-10">
                    <ul>
                        <li><a href="./servicos">Servicos</a></li>
                        <li><a href="./planos">Plans</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="./booking">Booking</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2 fcontato">CONTATOS</div>
                <div class="col-md-10">
                    <ul>
                        <li><a href="tel:002380000000">(+238) 000 00 00</a></li>
                        <li><a href="mailto:contact@wifianywhere.com">contact@wifianywhere.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div id="a" class="row rsocial ">
                <div class="col-md social"><a href="#"><i class="fab fa-instagram"></i></a></div>
                <div class="col-md social"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                <div class="col-md social"><a href="#"><i class="fab fa-twitter"></i></a></div>
            </div>
            <div id="b" class="row mrg ">
                <div class="col-md">
                    <a class="creditos" href="http://innovatmedia.com" target="_blank">&copy; iMedia Innovative Media 2019</a>
                </div>
            </div>
        </div>
    </div>
</footer>