<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>wifianywhere - Tenha wifi em qualquer lugar</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/bower_components/Font-Awesome/css/all.css">
    <link rel="stylesheet" href="/bower_components/flag-icon-css/css/flag-icon.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico">
<!--    <link rel="icon" href="/a.png">-->

</head>
<body>

{{>_navbars}}

{{{body}}}

{{>_footer}}

{{>_login}}

{{>_chat}}

    <script src="/bower_components/jquery/dist/jquery.js"></script><!--
    <script src="/bower_components/popper.js/dist/popper.js"></script>-->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/faq.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>
</html>