#terrasystem{
    visibility: hidden;
    margin-bottom: 9%;
}

#cansel {
    background-color: #dc3545;
}
.banner{
    height: 687px;
    width: 100%;
}
#forgot {
    float: right;
}
#forgot a {
    color: #1FB0C1;
}


/*adicionar fonts*/
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('/fonts/Segoe_UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('/fonts/Segoe_UI_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('/fonts/Segoe_UI_Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('/fonts/Segoe_UI_Bold_Italic.woff') format('woff');
}

/*definir fonte e cor de letra para body*/
body {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}



/************ estilos do rodape *************************/

footer {
    padding: 3% 2% 2% 2%;
    background: rgb(39,52,139);
    background: -moz-linear-gradient(180deg, rgba(39,52,139,1) 0%, rgba(31,176,193,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(39,52,139,1) 0%, rgba(31,176,193,1) 100%);
    background: linear-gradient(180deg, rgba(39,52,139,1) 0%, rgba(31,176,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27348b",endColorstr="#1fb0c1",GradientType=1);
}
footer ul {
    list-style-type: none;
}
footer .fab {
    font-size: 2.313em;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}

.creditos:hover {
    color: #00ccff;
}
.creditos {
    color: white;
}

.fmenu, .fcontato {
    /*font-size: 1.5em;*/
    font-weight: bold;
}
.fmenu ul li, .fcontato ul li{
    margin: 0 0 2% 0;
}
.fcontato {
    /*margin-left: 1%;*/
}

footer .mrg {
    margin: 1.5rem 0 0 0;
}

/********** fim dos estilos para rodape *********************
=============================================================
************* inicio dos estilos para servicos **************/
/* .aboutBanner figure{
    width:100%; /*container-width*
    overflow:hidden; /*hide bounds of image *
    margin:0;   /*reset margin of figure tag/
}
.aboutBanner figure img{
    display:block; /*remove inline-block spaces*
    width:100%; /*make image streatch*
}
.aboutBanner figure img{
    /*add to other styles*
    margin:-15.875% 0;
}

.sobre {
    position: absolute;
    top: 40%;
    left: 40%;
}
.aboutBanner span {
    color: #1FB0C1;
} */
#SN img{
    height: 21.1875rem;
}

#SN {
    position: relative;
    text-align: center;
    color: white;
}
#SN .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.375rem;
}

/*********** fim dos estilos para inicio *********************
=============================================================
 ********inicio dos estilos para descricao de about**********/
#desc {
    background-color: #1FB0C1;
    padding: 5%;

}


/*************fim de descricao de servicos  *******************
=============================================================
 ********inicio dos estilos para descricao de about**********/



#hiw h1, #hiw h2, #hiw h3, #hiw h4, #hiw h5, #hiw h6 {
    color: #1FB0C1;
}
#hiw h1 {
    text-transform: uppercase;
}
#hiw {
    padding: 5% 10% 10% 10%;
    text-align: center;
}

#hiw figure img {
    width: 11.625em;
    height: 11.625em;
}

.mar-bo {
    margin-bottom: 8%;
}

/********fim dos estilos para descricao de about**********
====================================================================
 ********* Inicio dos estilos para seccao sobre os devices*/
#AboutDevices {
    background-color: gray;
    padding: 2% 10% 10% 10%;
    /*height: 500px;*/
}

#AboutDevices .list-group li {
    color: #1b1e21;
}

#AboutDevices img{
    z-index: 100;
    position: relative;
}

#AboutDevices .devicebox span {
    cursor: pointer;
}
#AboutDevices .devicebox {
    background-color: white;
    position: absolute;
    /* deslizado*/
    /*top: 80%;*/
    /* escondido*/
    top: 3%;
    left: 6%;
    z-index: 1;
    text-align: center;
    margin-left: 4%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    width: 60%;
}
#AboutDevices .devicebox > *{
    color: black;
}
#AboutDevices .device {
    float: left;
}
#AboutDevices .devices {
    /*padding: 2% 10% 10% 10%;*/
    width: 100%;

}
#AboutDevices .device {
    position: relative;
    width: 80%;
}
#AboutDevices .devicebox ul {
    list-style-type: none;
    padding-left: 0;
}


/********** fim dos estilos para seccao sobre os devices********/
/*********** inicio dos estilos para a seccao booking  *********/

#booking .choose {
    padding: 2%;
    border: 1px solid #1FB0C1;
}
#booking .choose:hover {
    background-color: #1FB0C1;
    color: #FFFFFF;
}
#booking .containers {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
 #booking .containers input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  #booking .checkmark {
    position: absolute;
    top: 15%;
    left: 15%;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
  }
  #booking .fff{
      margin-top: 7%;
  }

  /* On mouse-over, add a grey background color */
  #booking .containers:hover input ~ .checkmark {
    background-color: #FFFFFF;
  }

  /* When the radio button is checked, add a blue background */
  #booking .containers input:checked ~ .checkmark {
    background-color: #1FB0C1;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  #booking .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  #booking .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  #booking .containers .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


#booking .pacote {
    color: #1FB0C1;
}
#booking, #booking2{
    background-color: #1FB0C1;
    padding: 5% 10% 10% 10%;
}
/*#booking .summary > * {*/
/*    color: #1FB0C1;*/
/*}*/
/*#booking .summary {*/
/*    background-color: white;*/
/*    color: #1FB0C1;*/
/*}*/


#Bpolicy {
    background-color: gray;
    padding: 5%;
}

/*estilos para o stepers*/
#booking .wrapper-progressBar, #booking2 .wrapper-progressBar {
    width: 100%
}


#booking .progressBar li, #booking2 .progressBar li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    font-weight: bold;
}

#booking .progressBar li:before, #booking2 .progressBar li:before {
    content: " ";
    line-height: 15px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: #ddd; /* cor das bolas*/
    color: red;/*cor das linhas de conexao*/
}

#booking .progressBar li:after, #booking2 .progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 6px;
    left: -50%;
    z-index: -1;
}

#booking .progressBar li:first-child:after, #booking2 .progressBar li:first-child:after {
    content: none;
}

#booking .progressBar li.active, #booking2 .progressBar li.active {
    color: white; /*cor das letras embaixo*/
}

#booking .progressBar li.active:before, #booking2 .progressBar li.active:before {
    border-color: dodgerblue;
    background-color: white; /* cor do fundo das bolinhas*/
}

#booking .progressBar li.active + li:after, #booking .progressBar li.active + li:after {
    background-color: red;
}
#booking .card, #booking2 .card {
    width: 100%;
}

#booking .linkTerms {
    text-decoration: underline;
}
#booking .checkout {
    padding: 2%;
    /*background-color: indianred;*/
    border: 2px solid white;
    border-radius: 10px;
    /*text-align: center;*/
}
/*#booking .planname {*/
/*    !*text-align: left;*!*/
/*}*/
/*#booking .visa {*/
/*    position: relative;*/
/*    margin-top: 3%;*/
/*}*/

#booking #step2, #booking #step3 {
    display: none;
}
/* Mark input boxes that gets an error on validation: */
#booking input.invalid, #booking2 input.invalid {
    background-color: #ffdddd;
}
#booking #status{
    color: #1FB0C1;
}

#booking #step1 select {
    height: 50px;
    width: 80%;
    border-radius: 8px;
    color: #1FB0C1;
}
#booking #step1 input {
    height: 50px;
    width: 80%;
    border-radius: 8px;
    color: #1FB0C1;
}
#booking #step2 select {
    height: 50px;
    /*width: 80%;*/
    border-radius: 8px;
    color: #1FB0C1;
}
#booking #step2 input {
    height: 50px;
    /*width: 80%;*/
    border-radius: 8px;
    color: #1FB0C1;
}
#booking .next {
    background-color: grey !important;
    border-color: grey;
    width: 10%;
    font-weight: bold;
    padding: 1%;
}
#booking .prev {
    background-color: white !important;
    border-color: grey;
    width: 10%;
    font-weight: bold;
    padding: 1%;
    color: #1FB0C1;
}

#submit {
    padding: 1%;
    background-color: grey !important;
    border-color: grey;
    font-weight: bold;
}
#booking2 #submit2 {
    padding: 1%;
    background-color: white !important;
    border-color: white;
    font-weight: bold;
    color: #1FB0C1;
    width: 15%;
}
#form-2 input {
    height: 50px;
    /*width: 80%;*/
    border-radius: 8px;
    color: #1FB0C1;
    border-color: #1FB0C1;
}
#inputCardholder {
    width: 90%;
}
/*********** fim dos estilos do booking************************/
/*********** estilos para menu (navbar) **********************/

#menu a {
    color: #1FB0C1;
}
#menu form a {
    color: white;
}


/************* estilos para footer **************************/
footer .cc {
    text-align: left;
}
footer .mm {
    text-align: left;
}

#login .terra {
	padding: 5.5%;
	font-size: 1.2rem;
	color: #FFFFFF;
	background-color: #1FB0C1;
	border-color: #1FB0C1;
	font-weight: bold;
	width: 100%;
}

#login .terra1{
    box-shadow: 2px 2px 4px 4px rgba(31,176,193,0.5);
}

#login .terra2 {
    background-color: white;
    color: #1FB0C1;
    white-space: nowrap;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.5);
    border: none;
}

#login .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
#login .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}
#login button ~ button {
    margin-left: 20px;
}
