.banner{
    height: 687px;
    width: 100%;
}
footer {
    color: white;
    padding: 2%;
    background: darkblue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, darkblue, blue, cyan);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, darkblue, blue, cyan); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
.creditos:hover {
    color: #00ccff;
}
.creditos {
    color: white;
}
.fmenu, .fcontato {
    /*font-size: 1.5em;*/
    font-weight: bold;
}
.fcontato {
    /*margin-left: 1%;*/
}