/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

/*//CSS*/

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {



}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

/***** pagina index+  ***************/
#offers h1 {
    font-size: 3rem;
}
#howwork h1 {
    font-size: 3rem;
}
#beneficio h1 {
    font-size: 3rem;
}
#menu h1 {
    font-size: 2rem;
}
#banner .logo {
    top: 30%;
    left: 33%;
}

.aboutBanner figure img {
    margin: 0;
}


.mar-bo {
    margin-top: 8%;
}

.sobre {
    top: 20%;
    left: 7%;
}
.aboutBanner span {
    color: white;
}

/**********servicos ***************/
.sobre {
    top: 30%;
    left: 33%;
}
#hiw .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}
#AboutDevices .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
    margin-bottom: 20%;
}
#AboutDevices .mo {
    margin-left: 9%;
}

/******* footer  ************/
footer .fmenu, footer .fcontato {
    display: none;
}
footer .mm{
    margin-left: -15%;
}
footer .cc {
    margin-left: -25%;
}
footer .mrg, footer .rsocial {
    margin-left: -80%;
}
footer .ab {
    margin-bottom: 2%;
}

/*********Planos*********/
#plans .logo1 {
    top: 20%;
    left: 9%;
}
#beneficio .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

/*********FAQ*****************/
.logofaq {
    top: 8%;
    left: 25%;
}

#faq input[type=text] {
    top: 23%;
    left: 12%;
}

#categoria .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 50%;
    max-width: 100%;
}

/*****Entrar*********/
.modal-dialog {
    margin: 15.75rem auto;
}


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

             /******** Rodapé ************************/
            footer .social {
                position: relative;
                width: 33.333333333%;
                padding-right: 15px;
                padding-left: 15px;
                
            }
            footer ul {
                padding-left: 0;
            }
            footer .ab {
                margin-bottom: 1%;
            }
        
        
            footer .rsocial {
                /*margin-left: 1%;*/
            }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    

        /***** pagina index+  ***************/
        #offers h1 {
            font-size: 3rem;
        }
        #howwork h1 {
            font-size: 3rem;
        }
        #beneficio h1 {
            font-size: 3rem;
        }
        #menu h1 {
            font-size: 2rem;
        }
        #banner .logo {
            top: 40%;
            left: 29%;
        }
    
        .aboutBanner figure img {
            margin: 0;
        }
    
    
        .mar-bo {
            margin-top: 8%;
        }
    
        .sobre {
            top: 20%;
            left: 7%;
        }
        .aboutBanner span {
            color: white;
        }

         /******** Rodapé ************************/

    footer {
        padding-top: 9%;
    }

    footer .mrg {
        margin: -0.8rem 0 1rem 0;
    }


    footer .logofooter, footer .menufooter{
        display: none;
    }

    footer .social {
        position: relative;
        width: 33.333333333%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 10%;
    }
    footer ul {
        padding-left: 0;
    }


    footer .rsocial {
        /*margin-left: 1%;*/
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /********* booking   *******************/
    #booking #step1 select {
        width: 100%;
    }
    #booking #step1 input {
        width: 100%;
    }
    #booking #step2 select {
        width: 100%;
    }
    #booking #step2 input {
        width: 100%;
    }
    #inputCardholder {
        width: 100%;
    }

    #booking .next {
        width: 40%;
        padding: 2%;
    }
    #booking .prev {
        width: 40%;
        padding: 2%;
    }

    #booking #step3 .prev {
        width: 30%;
        padding: 2%;
    }
    #booking .rr {
        float: right;
    }
    #status {
        display: none;
    }
    #submit {
        padding: 3%;
        font-size: 0.8rem;
        width: 65%;
    }
    #step3 .total {
        font-size: 2rem;
    }
    /*********** menu *********************/
    #menu {
        /* padding: 3%; */
    }
    /*************************** Faq ***************************************/
    .logofaq {
        text-align: center;
        top: 18%;
        left: 10%;
        width: 90%;
    }
    .logofaq h1 {
        font-size: 2rem;
    }
    #faq input[type=text] {
        top: 50%;
        left: 10%;
        width: 80%;
    }
    #acordiao .faqs {
        width: 100%;
    }


    /***************************************our wifi plans********************************************/

    #plans img{
        height: 21.1875rem;
    }
    .logo1 h1{
        font-size: 2.5rem;

    }

    #plans .logo1 {
        top: 35%;
        left: 25%;
        width: 70%;
        text-align: center;
    }


    /***** pagina index+  ***************/
    #offers h1 {
        font-size: 2rem;
    }
    #howwork h1 {
        font-size: 2rem;
    }
    #beneficio h1 {
        font-size: 2rem;
    }
    #menu h1 {
        font-size: 2rem;
    }
    #banner .logo {
        top: 45%;
        left: 14%;
    }

    .aboutBanner figure img {
        margin: 0;
    }


    .mar-bo {
        margin-top: 8%;
    }

    .sobre {
        top: 20%;
        left: 7%;
    }
    .aboutBanner span {
        color: white;
    }

    /***** pagina servicos ************/
    #AboutDevices .col-md-3:not(:first-child) {
        margin-top: 45%;
    }
    #AboutDevices .device {
        width: 100%;
    }


    #hiw h1 {
        font-size: 2rem;
    }
    #AboutDevices h1 {
        font-size: 2rem;
    }


    #AboutDevices .mo {
        width: 80%;
        margin-left: 10%;
    }

    #AboutDevices .devicebox {
        margin-left: 2.5%;
        width: 90%;
    }

    /******** Rodapé ************************/

    footer {
        padding-top: 9%;
    }

    footer .mrg {
        margin: -0.8rem 0 1rem 0;
    }


    footer .logofooter, footer .menufooter{
        display: none;
    }
    footer .social {
        position: relative;
        width: 33.333333333%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20%;
    }
    footer ul {
        padding-left: 0;
    }


    footer .rsocial {
        /*margin-left: 1%;*/
    }

}