<div class="container-fluid p-0" id="faq">
    <img src="/images/Imagem 2.png" class="img-fluid banner" alt="Responsive image">
    <div class="row position-absolute logofaq">
<!--        <div class="col-12">-->
<!--            <div class="row">-->
                <h1 class="h5 font-weight-bold ">FREQUENTLY ASKED QUESTIONS</h1>
<!--            </div>-->
<!--        </div>-->
    </div>
    <form>
        <input type="text" placeholder="Type your question..">
    </form>
</div>

<section id="categoria"  class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12">
                    <a class="general" href="#">
                        <img class="ativo" src="./images/General.svg">
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h6 class="text-center font-weight-bold ativo" >GENERAL</h6></div>
            </div>
        </div>
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img class="" src="./images/Usage.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h6 class="text-center font-weight-bold" >USAGE</h6></div>
            </div>
        </div>
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img class="" src="./images/Booking%20and%20Payment.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h6 class="text-center font-weight-bold" >BOOKING AND PAYMENT</h6></div>
            </div>
        </div>
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img class="" src="./images/Pickup%20or%20shipping.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h6 class="text-center font-weight-bold">PICKUP OR SHIPPING</h6></div>
            </div>
        </div>
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img class="" src="./images/Return.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h6 class="text-center font-weight-bold">RETURN</h6></div>
            </div>

        </div>
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img class="" src="./images/Modification%20and%20Cancellation.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h6 class="text-center font-weight-bold">MODIFICATION AND CANCELLATION</h6></div>
            </div>
        </div>
    </div>
</section>

<!--<section id="question"  class="container-fluid">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>


</section>-->

<!--
<div class="accordion" id="accordionExample275">
    <div class="question z-depth-0 bordered">
        <div class="card-header" id="headingOne2"><i class="fa fa-plus" aria-hidden="true"></i>
            <h5 class="mb-0">
                <button class="btn btn-link pergunta" type="button" data-toggle="collapse" data-target="#collapseOne2"
                        aria-expanded="true" aria-controls="collapseOne2">
                    What is a Wifi mobile hotspot?
                </button>
            </h5>
        </div>
        <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
             data-parent="#accordionExample275">
            <div class="answers">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable.
            </div>
        </div>
    </div>
    <div class="question z-depth-0 bordered">
        <div class="card-header" id="headingTwo2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    What can i do with it?<i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </h5>
        </div>
        <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
             data-parent="#accordionExample275">
            <div class="answers">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable.
            </div>
        </div>
    </div>
    <div class="question z-depth-0 bordered">
        <div class="card-header" id="headingThree2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                    Why should I rent one?<i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </h5>
        </div>
        <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
             data-parent="#accordionExample275">
            <div class="answers">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable.
            </div>
        </div>
    </div>
    <div class="question z-depth-0 bordered">
        <div class="card-header" id="headingFour2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                    How much data will I have?<i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </h5>
        </div>
        <div id="collapseFour2" class="collapse" aria-labelledby="headingFour2"
             data-parent="#accordionExample275">
            <div class="answers">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable.
            </div>
        </div>
    </div>
    <div class="question z-depth-0 bordered">
        <div class="card-header" id="headingFive2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFive2" aria-expanded="false" aria-controls="collapseFive2">
                    How fast is the connection?<i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </h5>
        </div>
        <div id="collapseFive2" class="collapse" aria-labelledby="headingFive2"
             data-parent="#accordionExample275">
            <div class="answers">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable.
            </div>
        </div>
    </div>
    <div class="question z-depth-0 bordered">
        <div class="card-header" id="headingSix2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseSix2" aria-expanded="false" aria-controls="collapseSix2">
                    Do you cover my holiday destination?<i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </h5>
        </div>
        <div id="collapseSix2" class="collapse" aria-labelledby="headingSix2"
             data-parent="#accordionExample275">
            <div class="answers">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable.
            </div>
        </div>
    </div>
    <div class="question z-depth-0 bordered">
        <div class="card-header" id="headingSeven2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseSeven2" aria-expanded="false" aria-controls="collapseSeven2">
                    How many devices can I connect simultaneously?<i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </h5>
        </div>
        <div id="collapseSeven2" class="collapse" aria-labelledby="headingSeven2"
             data-parent="#accordionExample275">
            <div class="answers">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable.
            </div>
        </div>
    </div>

</div>-->

<section id="acordiao" class="container-fluid">
<div class="row justify-content-center">
    <div class="col-8  faqs">
    <button class="accordion seccao">General 1 <i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="panel">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable..</p>
    </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 faqs">
    <button class="accordion seccao">General 2 <i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable. et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 faqs">
    <button class="accordion seccao">General 3 <i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="panel">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable.</p>
    </div>
    </div>
</div>
    <div class="row justify-content-center">
        <div class="col-8 faqs">
            <button class="accordion seccao">General 4 <i class="fa fa-plus" aria-hidden="true"></i></button>
            <div class="panel">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 faqs">
            <button class="accordion seccao">General 5 <i class="fa fa-plus" aria-hidden="true"></i></button>
            <div class="panel">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 faqs">
            <button class="accordion seccao">General 6 <i class="fa fa-plus" aria-hidden="true"></i></button>
            <div class="panel">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 faqs">
            <button class="accordion seccao">General 7 <i class="fa fa-plus" aria-hidden="true"></i></button>
            <div class="panel">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable.</p>
            </div>
        </div>
    </div>
</section>