<div class="container-fluid banner" style="background-color: red;">

</div>
<div class="container-fluid " style="background-color: red;">
dsfddfsf
</div>
<div class="container-fluid " style="background-color: yellow;">
sdfdsffsd
</div>

<div class="container-fluid " style="background-color: green;">
    sdfdsffsd
</div>

<div class="container-fluid " style="background-color: black;">
    sdfdsffsd
</div>

<div class="container-fluid " style="background-color: pink;">
    sdfdsffsd
</div>