
<div class="container-fluid p-0" id="banner">
    <img src="/images/banner.png" class="img-fluid banner" alt="Responsive image">
    <div class="row position-absolute logo">
        <div class="col-12">
            <div class="row">
                <h1>LOGO</h1>
            </div>
            <div class="row">
                <a href="#" class="btn btn-info btn-lg">ONLINE BOOKING</a>
            </div>
        </div>

    </div>
</div>

<section id="beneficio"  class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-4">
            <h1 class="display-4 font-weight-bold">BENEFITS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
                <div class="row text-center mt-4">
                  <div class="col-12"><img src="./images/Beneficios 1.svg"></div>
                </div>
                <div class="row">
                   <div class="col-12 mt-4"><h5 class="text-center" >BENEFICIOS DO SERVIÇO</h5></div>
                </div>
        </div>
        <div class="col-md">
                <div class="row text-center mt-4">
                    <div class="col-12"><img src="./images/Beneficios 2.svg"></div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
                </div>
        </div>
        <div class="col-md">
                <div class="row text-center mt-4">
                    <div class="col-12"><img src="./images/Beneficios 3.svg"></div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
                </div>

        </div>
        <div class="col-md">
                <div class="row text-center mt-4">
                    <div class="col-12"><img src="./images/Beneficios 4.svg"></div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
                </div>
        </div>
    </div>
</section>

<section id="howwork"  class="container-fluid align-items-center">
<div class="col align-self-center">
     <div class="row">
         <div class="col-12 text-center mt-4">
             <h1 class="display-3 font-weight-bold">HOW IT WORKS</h1>
         </div>
     </div>

     <div class="row">
         <div class="col-md">
             <div class="row text-center mt-4">
                 <div class="col-12"><img src="./images/Book Online.svg"></div>
             </div>
             <div class="row">
                 <div class="col-12 mt-4"><h5 class="text-center" >Book Online</h5></div>
             </div>
         </div>
         <div class="col-md">
             <div class="row text-center mt-4">
                 <div class="col-12"><img src="./images/Receive Package.svg"></div>
             </div>
             <div class="row">
                 <div class="col-12 mt-4"><h5 class="text-center">Receive your Package</h5></div>
             </div>
         </div>
         <div class="col-md">
             <div class="row text-center mt-4">
                 <div class="col-12"><img src="./images/Enjoy Internet Anywhere.svg"></div>
             </div>
             <div class="row">
                 <div class="col-12 mt-4"><h5 class="text-center">Enjoy Internet Anywhere</h5></div>
             </div>
         </div>
         <div class="col-md">
             <div class="row text-center mt-4">
                 <div class="col-12"><img src="./images/Return the Wifi Device.svg"></div>
             </div>
             <div class="row">
                 <div class="col-12 mt-4"><h5 class="text-center">Return the Wifi Device</h5></div>
             </div>
         </div>
     </div>
</div>
</section>

<section id="offers" class="container-fluid text-center">
            <div class="col-md-12 text-center mt-4">
                <h1 class="display-3 font-weight-bold">TOP OFFERS</h1>
            </div>

    <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">PLAN NAME</h2>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                        <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                        <p class="card-text font-weight-bold">Data plan per day</p>
                        <p class="card-text font-weight-bold">Number of devices</p>
                        <p class="card-text font-weight-bold">Battery life</p>
                        <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-header rounded-top">
                        <h2 class="card-title">PLAN NAME</h2>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                        <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                        <p class="card-text font-weight-bold">Data plan per day</p>
                        <p class="card-text font-weight-bold">Number of devices</p>
                        <p class="card-text font-weight-bold">Battery life</p>
                        <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header rounded-top">
                        <h2 class="card-title">PLAN NAME</h2>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                        <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                        <p class="card-text font-weight-bold">Data plan per day</p>
                        <p class="card-text font-weight-bold">Number of devices</p>
                        <p class="card-text font-weight-bold">Battery life</p>
                        <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                    </div>
                </div>
            </div>
     </div>

</section>



