
<div class="container-fluid p-0">
    <img src="/images/banner.png" class="img-fluid banner" alt="Responsive image">
</div>
<div class="container-fluid " style="background-color: red;">
dsfddfsf
</div>
<div class="container-fluid " style="background-color: yellow;">
sdfdsffsd
</div>

<div class="container-fluid " style="background-color: green;">
    sdfdsffsd
</div>

<div class="container-fluid " style="background-color: black;">
    sdfdsffsd
</div>

<div class="container-fluid " style="background-color: pink;">
    sdfdsffsd
</div>

