<div class="container-fluid p-0" id="plans">
    <img src="/images/Imagem 2.png" class="img-fluid banner" alt="Responsive image">
    <div class="row position-absolute logo1">
        <div class="col-12">
            <div class="row">
                <h1>OUR WIFI PLANS</h1>
            </div>
        </div>

    </div>
</div>

<section id="beneficio"  class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="./images/Beneficios 1.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center" >BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="./images/Beneficios 2.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="./images/Beneficios 3.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>

        </div>
        <div class="col-md">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="./images/Beneficios 4.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
    </div>
</section>


<section id="offers" class="planos container-fluid text-center">

    <div class="row mt-5 ml-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">PLAN NAME</h2>
                </div>
                <div class="card-body">
                    <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                    <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                    <p class="card-text font-weight-bold">Data plan per day</p>
                    <p class="card-text font-weight-bold">Number of devices</p>
                    <p class="card-text font-weight-bold">Battery life</p>
                    <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-header rounded-top">
                    <h2 class="card-title">PLAN NAME</h2>
                </div>
                <div class="card-body">
                    <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                    <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                    <p class="card-text font-weight-bold">Data plan per day</p>
                    <p class="card-text font-weight-bold">Number of devices</p>
                    <p class="card-text font-weight-bold">Battery life</p>
                    <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header rounded-top">
                    <h2 class="card-title">PLAN NAME</h2>
                </div>
                <div class="card-body">
                    <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                    <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                    <p class="card-text font-weight-bold">Data plan per day</p>
                    <p class="card-text font-weight-bold">Number of devices</p>
                    <p class="card-text font-weight-bold">Battery life</p>
                    <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                </div>
            </div>
        </div>
    </div>

</section>