<section id="ResetSenha" class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1>Resetar a senha</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <form method="POST" action="/auth/resetSenha">
                <div class="form-group">
                    {{!-- <label for="exampleInputEmail1 text-left">Email address</label> --}}
                    <input type="email" name="email" class="form-control" id="resetsenha" aria-describedby="emailReset" placeholder="Enter email">
                    {{!-- <small id="emailHelp" class="form-text text-muted">Depois derija-se para o seu e mai.</small> --}}
                </div>
                
                {{!-- <button type="submit" class="btn btn-primary">Enviar</button> --}}
                {{!-- <button type="submit" class="g-recaptcha btn btn-primary terra" data-sitekey="6LeDB6sUAAAAAOo-WK-zWj-26FiohQp-yp9k26b0" data-callback='onSubmit'>Enviar</button> --}}
                <button type="submit" class="g-recaptcha btn btn-primary terra">Enviar</button>

            </form>
        </div>
    </div>
</section>