<style>
    center svg {
        width: 400px;
        height: 400px;
    }
    center {
        color:blue;
    }
</style>


<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
    Autem eveniet obcaecati <br>
    consequatur ad facilis laborum error unde, <br>
    harum fugit eos ea exercitationem accusamus <br>
    aliquam voluptas quidem officia blanditiis asperiores nostrum!<br>
</p>
<center>
    pelo code gerado
    {{{svg}}}
</center>
<center>
    pela imagem gerada
    <img src="/i_love_qr.svg" width="400" height="400">
</center>
