<section id="booking" class="container-fluid mt-5">
    <div class="row mar-bo">
        <div class="col-md-12 text-center">
            <h1 class="display-4 font-weight-bold">BOOKING</h1>
        </div>
    </div>

<!--    seccao para o steppers-->
    <div class="row">
        <div class="col-md-8">
            ESTEPERS
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">multi step formilarios</div>
        <div class="col-md-3">
            <div class="summary">
                <h1>Summary</h1>
                <p>sdsqdqdsdqsqs
                fdsfsdfdsfdsfds
                    dsfds
                    fdsf
                    ds
                    dsf
                    ds
                    ds
                </p>
            </div>
        </div>
    </div>
<!--    seccao para o formulario multisteps-->


</section>

<section id="Bpolicy" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <article>
                <b>Cancellation Policy: </b> Refunds are possible up to 4 days before selected WiFi pickup date. WiFi cancellations after this point are non
                refundable. Please contact us via support@wifianywhere.com if you wish to cancel or change your order after purchase.
            </article>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <article>
                <b>Disclamer: </b> The Wifi Anywhere service is provided by iMedia. For post sales support, please contact iMedia directly.
            </article>
        </div>
    </div>
</section>