<section class="container-fluid mt-5 p-5">
    <div class="row mt-5">
        <div class="col-md-12 mt-5">
            <h1 style="background-color: blue;color:red;">O id enviado pelo req: <span style="color: red; background-color:chartreuse;">{{id}}</span></h1>
        </div>
    </div>
</section>